################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FarPoint.Win.Spread
/bin/Debug
/obj
